table{
	
	width:100%;
}

table, th, td {
	margin-top: 1cm;
	border: 1px solid black;
	border-top: hidden;
	border-bottom: hidden;
	text-align: center;
}

.uredenje{
	margin-top: 2cm;
	display: inline-block;
	text-align: center;
}

