body{
	margin-left: 20%;
	margin-right: 20%;
}
table{
	width:100%;
}

table, th, td {
	margin-top: 1cm;
	border: 1px solid black;
	border-top: hidden;
	border-bottom: hidden;
	text-align: center;
}

a{
	text-decoration: none;
}
.izbornik{
	align-content: center;
	background: black;
	height: 1.35cm;
}

.dropbtn {
	background: black;
	color: white;
	
	padding: 16px;
	font-size: 16px;
	border: none;
  }
  
  .dropdown {
	padding-top: 17px;
	position: relative;
	display: inline-block;
  }
  
  .dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: #fff;
	font-size: 16px;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	background:black;
  }
  
  .dropdown-content a:hover {background-color: grey;}

  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: grey;}

  .dropbtn a{
	background-color: grey;
  }